 
body{
    text-align:center;
}
img
{
    width: 40%;
    margin: 1px auto;
    display: flex;     
}
.heading1,.heading2,.heading3
{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container1,.container2,.container3
{
   width:100%;
   height:auto;
   display:flex;
   flex-direction:row;
   justify-content: space-around;
  
}
.bbox
{
    
    width:200px;
    height:200px;
    background-color: #319cea;
    margin:20px;
    box-sizing:border-box;
}
.gbox
{    
    background-color: #3ed319;
    
    }
.vbox
{
    background-color: #ba31ea;
    
}
.bborder
{
    width:200px;
    height:200px;
    margin:20px;
    border: 5px solid #1fa7f4;
    box-sizing:border-box;
    
}
.gborder
{
    border: 5px solid #3ed319;
           
}
.vborder
{
    border: 5px solid #ba31ea;
        
}
.ubox1,.ubox2,.ubox3 {
    border: solid 5px #1fa7f4;
    width: 40%;
    font-size: 20px;
    padding: 1%;
    flex-basis: 25%;
    flex-direction:row;
  }
  .lbox1,.lbox2,.lbox3 {
    border: solid 5px #1fa7f4;
    width: 40%;
    font-size: 20px;
    padding: 1%;
    flex-basis: 25%;
    justify-content: space-evenly;
    flex-direction:row;
  }
  
.symc {
    width:5%;
    position:fixed;
    bottom:0;
    right:0;
    font-size: 50px;
    line-height: 1.0;
    color: #000000;
    background-color: #1fa7f4;
    border-radius: 50%;
    padding: 1%;
    text-align: center;
    margin-left: auto;
  }

  @media only screen and (max-width: 480px)
   {
    .container1,.container2,.container3 {
      flex-direction: column;
      text-align: center;
    }
    .bbox,.gbox,.vbox {
      flex-direction: column;
      height: 8rem;
      width:40%;
      margin-left: 29%;
    }
    .bborder,.gborder,.vborder {
     flex-direction: column;
      
      width: 39%;
      height: 8rem;
      margin-left: 29%;
    }
    .ubox1,.ubox2,.ubox3,.lbox1,.lbox2,.lbox3 {
      width: 70%;
      margin-left: 13%;
    }
    .symc {
      position:fixed;
      bottom:0;
      right:0;
      width:25%;
      line-hieght:3.0;
      font-size: 50px;
      padding:1%;
      text-align:center;
    }
  }
   
