body 
{
    font-family: "Inter";
    text-align: center;
    font-size: x-large;
 }

  img 
{
    width: 40%;
    margin: 1px auto;
    display: block;
 }
  .hd1,.hd2,.hd3
{
  font-size: 20px;
  font-weight: bold
}
.box1 {
  font-size: 20px;
  font-weight: 500;
}
.bbox,.gbox,.vbox {
  width: 200px;
  height: 200px;
}
.blueR,.greenR,.violetR {
  width: 195px;
  height: 195px;
}

.ubox1,.ubox2,.ubox3,.lbox1,.lbox2,.lbox3 {
  border: solid 5px #1fa7f4;
  width: 338px;
  font-size: 20px;
  padding: 1%;
  flex-basis: 25%;
}
  .box1,.container1,.container2 {
    display: flex;
    justify-content: space-around;
  }
  .bbox {
    background-color: #319cea;
  }
  .gbox{
    background-color: #3ed319;
  }
  .vbox {
    background-color: #ba31ea;
  }
  .blueR {
    border: 5px solid #1fa7f4;
  }
  .greenR {
    border: 5px solid #3ed319;
  }
  .violetR {
    border: 5px solid #ba31ea;
  }
  .symc {
    width: 67px;
    height: 34px;
    font-size: 50px;
    line-height: 0.5;
    color: #000000;
    background-color: #1fa7f4;
    border-radius: 50%;
    padding: 32px 20px 32px 19px;
    text-align: center;
    margin-left: auto;
  }
