body{
    text-align:center;
}
img
{
    display:flex;
    margin-left:175px;
    flex-direction: column;

}
.heading1,.heading2,.heading3
{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container1,.container2,.container3
{
   width:100%;
   height:auto;
   display:flex;
   flex-direction:row;
   justify-content: space-around;
  
}
.bbox
{
    
    width:200px;
    height:200px;
    background-color: #319cea;
    margin:20px;
    box-sizing:border-box;
    font-size:50px;
}
.gbox
{    
    width:200px;
    height:200px;
    background-color: #3ed319;

    margin:20px;
    box-sizing:border-box;
    font-size:50px;

    }
.vbox
{
    width:200px;
    height:200px;
    margin:20px;
    background-color: #ba31ea;
    box-sizing:border-box;
    font-size:50px;
   
}
.bborder
{
    width:200px;
    height:200px;
    margin:20px;
    border: 5px solid #1fa7f4;
    box-sizing:border-box;
    font-size:50px;
   
}
.gborder
{
    width:200px;
    height:200px;
    margin:20px;
    border: 5px solid #3ed319;
    box-sizing:border-box;
    font-size:50px;
   
}
.vborder
{
    width:200px;
    height:200px;
    margin:20px;
    border: 5px solid #ba31ea;
    box-sizing:border-box;
    font-size:50px;
   
}
.ubox1,.ubox2,.ubox3,.lbox1,.lbox2,.lbox3 {
    border: solid 5px #1fa7f4;
    width: 338px;
    font-size: 20px;
    padding: 1%;
    flex-basis: 25%;
    flex-direction:row;
  }
  .lbox1,.lbox2,.lbox3 {
    display:flex;
    border: solid 5px #1fa7f4;
    width: 338px;
    font-size: 20px;
    padding: 1%;
    flex-basis: 25%;
    justify-content: space-evenly;
    flex-direction:row;
  }
  
.symc {
    width: 67px;
    height: 34px;
    font-size: 50px;
    line-height: 0.5;
    color: #000000;
    background-color: #1fa7f4;
    border-radius: 50%;
    padding: 32px 20px 32px 19px;
    text-align: center;
    margin-left: auto;
  }

